:root {
  --primary-color: #49a6e9;
}
html {
  background-color: hsl(210, 36%, 96%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
}

nav {
  background-color: #fff;
  height: 80px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  background-color: transparent;
}

.container-fluid {
  height: 100%;
}
.row {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  text-align: left;
}
img:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
  display: inline;
  text-transform: capitalize;
  transition: 0.3s linear;
  padding: 5px;
}
li:hover {
  cursor: pointer;
}
a {
  transition: 0.3s linear;
  text-decoration: none;
  color: hsl(209, 34%, 30%);
}
li:hover a {
  color: #49a6e9;
}

.socials {
  text-align: right;
}
.socials li {
  padding: 0;
}
i {
  color: var(--primary-color);
  padding: 3px;
  transition: all 0.3s linear;
}
.socials i:hover {
  opacity: 0.7;
}

.bars {
  text-align: right;
  font-size: 2rem;
}
.bars i:hover {
  color: hsl(205, 86%, 17%);
  rotate: 90deg;
}

@media screen and (max-width: 768px) {
  /*  DEFAULT HIDDEN MENU */
  .menu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  /* TOGGLE CLASS */
  .show-menu {
    height: 11rem;
  }
  nav {
    position: relative;
  }
  ul {
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    text-align: left;
    padding: 0;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .menu a {
    margin: 5px;
  }
  li {
    display: block;
    padding: 10px 15px;
  }
  li:hover {
    background-color: hsl(205, 86%, 81%);
    padding-left: 30px;
  }
}
